  {{#each this}}
  <h2 class='country-title'>
    <img
      class='country-img'
      src='{{flags.svg}}'
      alt='{{flags.alt}}'
      width='40'
    />
    {{name.official}}
  </h2>
  <ul class='country-item-list'>
    <li class='country-item-one'>Capital: 
      <span class='country-item-name'>{{capital}}</span></li>
    <li class='country-item-one'>Population: 
      <span class='country-item-name'>{{population}}</span></li>
    <li class='country-item-one'>Languages:  
        <ul class='country-lang-list'>
            {{#each languages}}
            <li class='country-item-lang'>{{this}}</li>
            {{/each}}
        </ul>
  </ul>
{{/each}}